# Docker/Singularity related (if building containers locally)
*.dockerignore
Dockerfile.bak

# IDE-specific files (common examples)
.idea/
.vscode/
*.swp
*.bak

# Nextflow cache and configuration
.nextflow.log*
nextflow.config.backup

# Nextflow temporary files and directories
.nextflow/
work/
trace.txt
report.html
timeline.html
.nextflow.log*

# O/S system files
.DS_Store
Thumbs.db

# Python files (if using Python scripts)
*.pyc
__pycache__/

# R-specific files (if using R scripts)
.Rhistory
.Rdata
.Rproj.user/

# Terraform/Terragrunt
.terraform/
.terragrunt-cache/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.tf.out

# Project-specific temporary files
results/
